<div id="resume">

  <img src="http://farm7.staticflickr.com/6076/6132764373_8b2c0b6a20_m.jpg" alt="Photo of Brent" id="pic" />

  <div class="vcard">
    
    <!-- Microformats! -->
    
    <div id="name" class="fn">Brent Haas</div>
    
    <div id="contact-info">
  		Address: <span class="adr">
  			<span class="street-address">1103 Valencia st. </span>
  			<span class="locality">San Francisco,</span>
  			<span class="region"> CA</span>
  		</span> <br />
      Cell: <span class="tel">408-372-7473</span><br />
      Email: <a class="email" href="mailto:brenthaas@gmail.com">brenthaas@gmail.com</a>
    </div>
  </div>
            
  <div id="objective" class="summary">
    <p>
    	I am an enthusiastic new Rails developer, avid world traveler and large-scale fire artist looking to work with a talented Rails development team on an innovative software product.
    </p>
  </div>
    
  <div class="clear"></div>
    
  <dl>
    <dd class="clear"></dd>
        
    <dt>Experience</dt>
    <dd>
    	<div class="section">
	      <div class="section-head">
	      	<span class="org">Yahoo! </span>
	      	<span class="title">Tools developer / Operations Lead </span>
	      	<span class="date">06/05-02/10</span>
	      </div>
	      <div class="job_role"> Technical lead and tools developer for a large-scale globally distributed user database </div>
	      <ul class="wins">
					<li class="win"> Developed tools to automate complex database configurations and simplify operational tasks </li>
					<li class="win"> Designed and deployed the back-end database for Yahoo!’s Open Social services </li>
					<li class="win"> Provided 24x7 / 15 min. operational support for mission-critical database with 99.999% uptime </li>
					<li class="win"> Trainer and Technical Lead for highly skilled US and Indian operations teams </li>
	      </ul>
    	</div>
            
      <div class="section">
	      <div class="section-head">
	      	<span class="org">Hewlett-Packard Corp. </span>
	      	<span class="title">Support Engineer </span>
	      	<span class="date">03/03-06/05</span>
	      </div>
	      <ul class="wins">
					<li class="win">Designed and developed a software tool used to parse and display XML documents </li>
		      <li class="win">Investigated and diagnosed defects in an order enterprise configuration tool and Knowledge Base </li>
					<li class="win">Worked closely with developers and customers to resolve defects quickly and accurately </li>
	      </ul>
    	</div> 
    </dd>
    
    <dd class="clear"></dd>
    
    <dt>Skills</dt>
    <dd>
    	<div class="section">
	      <div class="section-head">Technical skills</div>
	    	<ul class="wins">
	    		<li class="win">strong understanding of full web stack and computer fundamentals</li>
	    		<li class="win">passion for both learning and teaching in all areas</li>
	    		<li class="win">excellent collaboration and team building skills</li>
	    	</ul>
    	</div>

          
      <div class="section">
	      <div class="section-head">Languages and Frameworks</div>
	      <span class="wins">
	      	<!-- make this a list and style=none it to display better -->
	      <p>Ruby, Rails, RSpec, Perl, Java, Python, SQL, HTML, CSS, XML, C#/.NET, Bash </p>
	    	</span>
    	</div>
    </dd>
        
    <dd class="clear"></dd>
      
    <dt>Education</dt>
    	<dd class="section">
    		<div class="section-head">Marakana
    			<span class="sub-head">San Francisco, CA - <span>05/2012</span>
    		</div>
    		<span class="wins">
    			<strong>Courses:</strong> Ruby Bootcamp, Rails Bootcamp<br />
    		</span>
    	</dd>
    	<dd class="section">
    		<div class="section-head">Coursera
    			<span class="sub-head">coursera.com - May 2012</span>
    		</div>
    		<span class="wins">
    			<strong>Courses:</strong> Sofware as a Service (UC Berkeley) <br/>
    		</span>
    	</dd>
    	<dd class="section">
      	<div class="section-head">University of Arizona
      	<span class="sub-head">Tucson, AZ - June 2002 </span>
      	</div>
      	<span class="wins">
      		<strong>Major:</strong> Bachelors of Computer Science<br />
      	</span>
    	</dd>
        
    <dd class="clear"></dd>
        
    <dt>Professional Accomplishments</dt>
    <dd>
    	<ul>
    		<li>Received Yahoo! “Bustin’ Tail Pail” for Excellence in Engineering -awarded by company COO</li>
    		<li>Nominated four times for Yahoo! Super Star Award for Excellence</li>
    	</ul>
    </dd>
        
    <dd class="clear"></dd>
  </dl>
    
  <div class="clear"></div>
</div>

