<div id="resume">

  <img src="http://farm7.staticflickr.com/6076/6132764373_8b2c0b6a20_m.jpg" alt="Photo of Brent" id="pic" />

  <div class="vcard">
    
    <!-- Microformats! -->
    
    <div id="name" class="fn">Brent Haas</div>
    
    <div id="contact-info">
  		<p> <span class="contact-detail">Address: </span>
        <span class="adr">
    			<span class="street-address">1103 Valencia St. </span>
    			<span class="locality">San Francisco,</span>
    			<span class="region"> CA</span>
        </span>
  		</p>
      <p><span class="contact-detail">Cell:</span> <span class="tel">408-372-7473</span></p>
      <p><span class="contact-detail">Email:</span> <a class="email" href="mailto:brenthaas@gmail.com">brenthaas@gmail.com</a></p>
      <p><span class="contact-detail">Website:</span> <a class="url" href="http://brent-haas.herokuapp.com/about">brent-haas.heroku.com/about</a></p>
    </div>
  </div>
            
  <p id="objective" class="summary">
    	I am an enthusiastic new Rails developer, avid world traveler and large-scale fire artist looking to work with a talented Rails development team on an innovative software product.
  </p>
    
  <div class="clear"></div>
    
  <dl>
    <dt class="section-title">Experience</dt>
    <dd class="section">
    	<div class="entry">
	      <div class="entry-head">
	      	<span class="org">Yahoo!</span>
	      	<span class="title">Tools developer / Operations Lead</span>
          <span class="location">Sunnyvale, CA</span>
	      	<span class="date">06/05-02/10</span>
	      </div>
	      <div class="job_role"> Technical lead and tools developer for a large-scale globally distributed user database </div>
	      <ul class="wins">
					<li class="win"> Developed tools to automate complex database configurations and simplify operational tasks </li>
					<li class="win"> Designed and deployed the back-end database for Yahoo!’s Open Social services </li>
					<li class="win"> Provided 24x7 / 15 min. operational support for mission-critical database with 99.999% uptime </li>
					<li class="win"> Trainer and Technical Lead for highly skilled US and Indian operations teams </li>
	      </ul>
    	</div>
            
      <div class="entry">
	      <div class="entry-head">
	      	<span class="org">Hewlett-Packard Corp.</span>
	      	<span class="title">Support Engineer</span>
          <span class="location">Cupertino, CA</span>
	      	<span class="date">03/03-06/05</span>
	      </div>
	      <ul class="wins">
					<li class="win">Designed and developed a software tool used to parse and display XML documents </li>
		      <li class="win">Investigated and diagnosed defects in an order enterprise configuration tool and Knowledge Base </li>
					<li class="win">Worked closely with developers and customers to resolve defects quickly and accurately </li>
	      </ul>
    	</div> 
    </dd>
    
    <dd class="clear"></dd>
    
    <dt class="section-title">Skills</dt>
    <dd class="section">
    	<div class="entry">
	      <div class="entry-head">Technical skills</div>
	    	<ul class="wins">
	    		<li class="win">Strong understanding of full web stack and computer fundamentals</li>
	    		<li class="win">Passion for both learning and teaching in all areas</li>
	    		<li class="win">Excellent collaboration and team building skills</li>
	    	</ul>
    	</div>

          
      <div class="entry">
	      <div class="entry-head">Languages and Frameworks</div>
	      	<!-- make this a list and style=none it to display better -->
	      <p class="wins">Ruby, Rails, RSpec, Cucumber, Perl, Java, Python, SQL, HTML, CSS, XML, C#/.NET, Bash </p>
    	</div>
    </dd>
        
    <dd class="clear"></dd>
      
    <dt class="section-title">Education</dt>
  	<dd class="section">
      <div class="entry">
    		<div class="entry-head">
          <span class="org">Marakana</span>
    			<span class="location">San Francisco, CA</span>
          <span class="date">May 2012</span>
    		</div>
    		<span class="wins">
    			<p class="win"><strong>Courses:</strong> Ruby Bootcamp, Rails Bootcamp</p>
    		</span>
      </div>
      <div class="entry">
    		<div class="entry-head">
          <span class="org">Coursera</span>
    			<span class="location">coursera.com</span>
          <span class="date">May 2012</span>
    		</div>
    		<span class="wins">
    			<p class="win"><strong>Courses:</strong> Sofware as a Service using Rails (UC Berkeley)</p>
    		</span>
      </div>
      <div class="entry">
      	<div class="entry-head">
          <span class="org">University of Arizona</span>
      	  <span class="location">Tucson, AZ</span>
          <span class="date">June 2002</span>
      	</div>
      	<span class="wins">
      		<p class="win"><strong>Major:</strong> Bachelors of Computer Science</p>
      	</span>
      </div>
  	</dd>
        
    <dd class="clear"></dd>
        
    <dt class="section-title">Professional<br /> Accomplishments</dt>
    <dd class="section">
      <div class="entry">
      	<ul class="wins">
      		<li class="win">Received Yahoo! “Bustin’ Tail Pail” for Excellence in Engineering -awarded by company COO</li>
      		<li class="win">Nominated four times for Yahoo! Super Star Award for Excellence</li>
      	</ul>
      </div>
    </dd>
        
    <dd class="clear"></dd>
  </dl>
    
  <div class="clear"></div>
</div>

