<div id="resume-wrap">

  <img src="http://farm7.staticflickr.com/6076/6132764373_8b2c0b6a20_m.jpg" alt="Photo of Brent" id="pic" />

  <div id="contact-info" class="vcard">
    
    <!-- Microformats! -->
    
    <div id="title-name" class="fn">Brent Haas</div>
    
    <p>
  		Address: <span class="adr">
  			<span class="street-address">1103 Valencia st. </span>
  			<span class="locality">San Francisco,</span>
  			<span class="region"> CA</span><br />
      Cell: <span class="tel">408-372-7473</span><br />
      Email: <a class="email" href="mailto:brenthaas@gmail.com">brenthaas@gmail.com</a>
    </p>
  </div>
            
  <div id="objective">
    <p>
    	I am an enthusiastic new Rails developer, avid world traveler and large-scale fire artist looking to work with a talented Rails development team on an innovative software product.
    </p>
  </div>
    
  <div class="clear"></div>
    
  <dl>
    <dd class="clear"></dd>
        
    <dt>Education</dt>
    	<dd class="school">
      	<div class="section-head">University of Arizona
      	<span class="sub-head">Tucson, AZ - June 2002 </span>
      	</div>
      	<span class="achievements">
      		<strong>Major:</strong> Bachelors of Computer Science<br />
      	</span>
    	</dd>
    	<dd class="school">
    		<div class="section-head">Marakana
    			<span class="sub-head">San Francisco, CA - May 2012</span>
    		</div>
    		<span class="achievements">
    			<strong>Courses:</strong>Ruby Bootcamp, Rails Bootcamp<br />
    		</span>
    	</dd>
    
    <dd class="clear"></dd>
    
    <dt>Skills</dt>
    <dd>
      <div class="section-head">Technical skills</div>
      <p>Office and records management, database administration, event organization, customer support, travel coordination</p>
            
      <div class="section-head">Languages and Frameworks</div>
      <p>Microsoft productivity software (Word, Excel, etc), Adobe Creative Suite, Windows</p>
    </dd>
        
    <dd class="clear"></dd>
      
    <dt>Experience</dt>
    <dd>
      <div class="section-head">Yahoo!
      	<span class="sub-head">Tools developer / Operations Lead 06/05-02/10</span>
      </div>
      <ul>
        <li>Inspired and won highest peasant death competition among servants</li>
        <li>Helped coordinate managers to grow cult following</li>
        <li>Provided untimely deaths to all who opposed</li>
      </ul>
            
      <div class="section-head">Hewlett-Packard Corp.
      	<span class="sub-head">Support Engineer  03/03-06/05</span>
      </div>
      <ul>
        <li>Worked on grass-roots promotional campaigns</li>
        <li>Reduced theft and property damage percentages</li>
        <li>Janitorial work, Laundry</li>
      </ul> 
    </dd>
        
    <dd class="clear"></dd>
        
    <dt>Hobbies</dt>
    <dd>Large-scale Fire Artist</dd>
    
    <dd class="clear"></dd>
        
    <dt>References</dt>
    <dd>Available on request</dd>
        
    <dd class="clear"></dd>
  </dl>
    
  <div class="clear"></div>
</div>

