  <div class="row">
    <div class="span6 offset3">
    <h2>login</h2>
    <%= simple_form_for @user,
              html: {class: "form-vertical"},
              url: sessions_path do |f| %>
      <%= f.input :username %>
      <%= f.input :password %>
      <%= f.submit 'login', class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
