<div class='post'> 
  <div class='post_title'> 
    <%= link_to blog.title, blog %>
    <span class='post_date'><%= blog.posting_date.strftime("%B %d, %Y") %></span>
  </div>
  <div class='post_content'>
    <%=raw blog.content %>
  </div>
</div>
<%= render 'options', blog: blog if logged_in? %>
