<div class="options">
  <span class="option"><%= link_to 'Edit', edit_blog_path(blog) %></span> |
  <span class="option"><%= link_to 'Destroy', blog, confirm: 'Are you sure?', method: :delete %></span>
</div>
