<div class="posts">
  <div class="post_list_header"></div>
  <%= link_to 'New Blog', new_blog_path, class: 'new_post_link' if logged_in? %>
  <div class="post_list">
    <% @blogs.each do |blog| %>
      <%= render blog %>
    <% end %>
  </div>
</div>