<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<%= link_to "Low-Key Travels", home_path, id: 'logo' %>
				<ul class="nav pull-right">
          <li><%= link_to "Blog", "#" %></li>
  				<li><%= link_to "About me", about_path %></li>
  				<% if logged_in? %>
  					<li><%= link_to "Log Out", logout_path, method: :delete %></li>
  				<% end %>
        </ul>
		</div>
	</div>
</header>